/* Color scheme */
/* Blue background color: 9485D4 */
/* Purple font & menu color: 61499B  */
/* Yellow header color: #F3DB67  */
/* Green text area: 3F9C72 */


body {
	background-color:#9485D4;
	
}

header {
	background-color:#F3DB67;
	margin-top:10px;
	overflow:hidden;
}
	
footer {
	background-color:#98bf21;
	text-align:center; 
	font-variant:small-caps; 
	padding-bottom:30px;
	padding-top:30px; 
	font-weight:bold; 
}

h1 {
	text-align:center;
	color:61499B; 	
	font-size: 3em; 
	font-weight:bold; 
	font-variant:small-caps;

}

p {
	margin-top:30px; 
	font-size:1.25em;
} 

/* Photo formatting */
.photos {
	border: solid 1px black; 
	background: white;
	text-align:center;
	width: 250px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}	

.gallery {
	width:250px;
}

#left{
	width:24%;
	float:left;
	overflow:hidden;
	padding:10px;
}

#right{
	width:24%;
	float:left;
	overflow:hidden;
	padding:10px;
}

#middle {
	width:47%;
	float:left;
	overflow:hidden;
	padding:10px;
}

/* Formatting for the menu bar */
#menubar { 
	background-color: 61499B; 
	width:100%;
	overflow:hidden;
	}
	
#navlist li { 
	display:block; 
	float:left; 
	font-weight:bold; 
	text-align:center; 
	font-variant:small-caps;
	padding:10px; 
}

#navlist a { padding: 10px 10px; }





